# PostgreSQL Bağlantı Bilgileri
POSTGRES_HOST=host
POSTGRES_DB=tkgm
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASS=cbs+-15102024

# Loglama Ayarları
LOG_LEVEL=INFO
LOG_FILE=logs/sync.log

TARGET_SRID=2320

# Oracle Bağlantı Bilgileri
ORACLE_HOST=host
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=server_name
ORACLE_USER=user
ORACLE_PASS=password

# Tablo Bilgileri
SU_TUKETIM_BILGILERI_TABLE=SU_TUKETIM_BILGILERI
ABONE_ADRES_BILGILERI_TABLE=ABONE_ADRES_BILGILERI